#
# dotphiles : https://github.com/dotphiles/dotphiles
#
# Ignore these files globally in this repo.
#

*.swp
.DS_Store
*~
*.sublime-*
*.d/localhost
ssh/id*
ssh/environment*
ssh/known_hosts
ssh/master/*
ssh/config
gnupg/secring.gpg
gnupg/pubring.gpg
gnupg/trustdb.gpg
gnupg/gpg-agent.env
gnupg/sshcontrol
gnupg/random*
gnupg/private*
gnupg/*~
task/task/*.data
vim/vim/bundle*
